#titleTeam{
    text-align: center;
    color: #66D9EF;
}
h2.h2team {
    font-size: 2em;
    color: #66D9EF;
    font-weight: bold;
}
.childTeam {
    width: 15%;
    min-width: 250px;
}
hr.lineteam {
    width: 95%;
}
a.linkteam {
    color: #66D9EF;
    font-size: 1.2em;
    font-weight: 600;
}
.containerTeam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text-description {
    margin: 40px 0;
    letter-spacing: 1px;
    font-size: medium;
}
.wrap {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: relative;
    /*top: 25px;*/
    left: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.wrap:hover .image-part {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
}
.wrap:hover .text-part {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.text-part, .image-part {
    position: absolute;
    top: 0;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.text-part img, .image-part img {
    border-radius: 50%;
}

.image-part {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.text-part {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #8AA8B0;
    line-height: 250px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
}

.text-color1{
    background-color: #ff931e;
}

.text-color2{
    background-color: #ea232a;
}

.text-color3{
    background-color: #7bc942;
}

.text-color4{
    background-color: #3fa9f5;
}

.text-color5{
    background-color: #1f3a93;
}


