/*events.php*/
.event_etitle {
	position:absolute;
	z-index:5;
	color: #fff;
	font-size: 4vw;
	display: block;
	margin-top: 50px;
	padding: 1vh 20vw;
	background-color: #7bc942;
	text-transform: uppercase;
}

.event_poster {
    background-color: #3fa9f5;
    padding: 2vh 5vw;
}
.event_shareRS{
    background-color: #7bc942;
    padding: 20px;
    text-align: center;
}

.event_shareFB {
    margin: 0 5px;
}

.event_shareTW{
    margin: 0 5px;
    
}