/* JUSQU A 1400 PX*/
@media screen and (max-width: 1400px) {
    .slideartL_title {
        font-size: 30px;
        padding: 8px 200px;
    }
    .slideartR_title {
        font-size: 30px;
        padding: 8px 200px;
    }
    .span3 {
        width: 50%;
        float: left;
        margin: 0 0px;
    }
    .span4 {
        width: 21%;
    }
    .viewcategoryprixpromo {
        font-size: 3vw;
    }
    .viewcategoryprixdelete {
        font-size: 2.3vw;
    }
    .slidecontent_nouveau {
        font-size: 3.1vw;
    }
    .slidecontent_promo {
        font-size: 3.1vw;
    }
    .caption h4 {
        font-size: 3.0vw;
    }
    .caption p {
        font-size: 2.5vw;
        line-height: 4vh;        
        min-height: 10vh;
    }
    .viewcategory_nouveau {
        font-size: 1.5vw;
    }
    .viewcategory_promo {
        font-size: 1.5vw;
    }

    /*tête de person pour guestBook*/
    .img-responsive-tete {
        width: 6vw;
    }
    .playmo_hide {
        display: none;
    }

    /* problème marge right scroll vertical firefox
    ul.navbar-right.search_dropdownbox_width.search {
    margin-right: -49px;
}
    */
    /* search */
    .soumenu_search{
        width: 1153%
    }
    /* Style départ animation */
    .item--helper-slide {
        width: 6rem;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        position: absolute;
        right: 4%;
        top: 250px;
        z-index: 1;
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
    .favorite_button_size {
        font-size: large;
    }

}

/* JUSQU A 1250 PX*/
@media screen and (max-width: 1250px) {
    .quote_hide {
        display: none;
    }
}

/* JUSQU A 1200 PX*/
@media screen and (max-width: 1200px) {
    .ipad_padding {
        padding-top: 10px;
    }
    /*
    .colmarginL.ipad_padding.search {
    padding: 0;
    margin: 0;
}
    */
    ul.navbar-right.search_dropdownbox_width.search {
        margin-right: 0;
    }
    .quote_hide {
        margin-right: 20px;
    }

    .event_title {
        font-size: 35px;
        padding: 8px 150px;
    }

    .slideartL_title {
        font-size: 30px;
        padding: 8px 150px;
    }

    .slideartR_title {
        font-size: 30px;
        padding: 8px 150px;
    }

    .classic_text_show, .customs_text_show, .pieces_text_show, .divers_text_show {
        top: 20vw;
    }

    .img-responsive {
        width: 100%;
    }

    /*tête de person pour guestBook*/
    .img-responsive-tete {
        width: 76px;
    }

    .viewcategorycaption h4 {
        font-size: 2vw;
    }

    .viewcategorycaption p {
        font-size: 1.3vw;
    }
    .orderlogin_box {
        width: 97%;
        padding-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
    }

    .orderlogin_box {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-6 {
        width: 97%;
    }

    /*.col-md-3 {
    width: 100%;
}*/

    .ordermidia_width {
        width: 100%;
    }

    .viewart_savoirwidth {
        width: 100%;
    }
    /* compte user */
    img#cptuser_hover {
        width: 44vh;
    }
    div#rowcptuser {
        font-size: 2vw;
    }
    div#rowcptuser {
        font-size: 3vw;
    }

    /* search */
    .soumenu_search{
        width: 1198%
    }
    /* Style départ animation */
    .item--helper-slide {
        width: 6rem;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        position: absolute;
        right: 4%;
        top: 150px;
        z-index: 1;
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
    .span4 {
        width: 20%;
    }
    .viewcategoryprixpromo {
        font-size: 3vw;
    }
    .viewcategoryprixdelete {
        font-size: 2.3vw;
    }
    .favorite_button_size {
        font-size: x-large;
    }
    


}

/* JUSQU A 990 PX*/
@media screen and (max-width: 990px) {
    .footercol1_float {
        float: left;
        padding-bottom: 100px;
    }

    .footerimg_hide {
        display: none;
    }

    .footerrow_margin {
        margin:0;
        padding-right:100px;
        margin-top:0px;
    }

    .footer_largestyle {
        display: none;
    }

    .footer_smallstyle {
        display: block;
    }

    .viewcategory_nouveau {
        font-size: 2.5vw;
    }

    .viewcategory_promo {
        font-size: 2.5vw;
    }

    .viewcategorycaption p {
        font-size: 2.2vw;
    }

    .addusercol1img_hide {
        display: none;
    }

    .adduserscol1_text {
        font-size: 5vw;
    }

    .order_buttonscapL {
        text-align: center;
    }

    .order_buttonscapR {
        text-align: center;
    }

    /*mentions légales*/
    .legalm_background {
        padding: 20px;
    }f

    /*tête de personnage pour guestBook*/
    .img-responsive-tete {
        width: 70px;
    }

    h4.salesItems {
        letter-spacing: 0.1em;
        font-size: xx-large;
    }

    h4.salesItems.viewcategorycaption{
        font-size: xx-large;
    }

    /* compte user */

    #colcptuser{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #rowcptuser{
        width: 100%; 
    }
    img#cptuser_hover{
        width: 44vh;
    }
    /* search */
    .soumenu_search{
        width: 1199%
    }
    div#rowcptuser {
        font-size: 3vw;
    }
    .span4 {
        width: 40%;
    }
    .caption p {
        font-size: 3vw;
        line-height: 3vh;
        min-height: 6vh;
        height: 10vh;
    }
    .viewcategoryprixdelete {
        font-size: 2.7vw;
    }
    .viewcategory_button_size {
        font-size: xx-large;
    }
    .item--helper-slide {
        top: 325px;
    }
    #usericon_click {
        font-size: 5vw;
    }
    #shoppingicon_click {
        font-size: 5vw;
    }
    i#logout{
        font-size: 5vw;
    }
    .col2_commentaireback {
        padding: 8vh;
    }
    li.span4 {
    margin-bottom: 2vh;
    }
    /* apropos */
    p.apropos_text.head_apropos {
        padding: 1.5em;
        font-size: 3vw;
    }
    /* viewart */

    .container_viewart {
        margin: 20px 30px;
    }
    div#carousel-example-generic {
    margin: 0 auto;
    }
/*    
    #slideviewart {
        position: relative;
        overflow: hidden;
        margin: 20px auto 0 auto;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 50.5vw;
        height: 50.5vw;
    }
    #slideviewart ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: auto;
        margin-left: 0;
        list-style: none;
    }
    #slideviewart ul li {
        position: absolute;
        top: 0%;
        left: 0%;
        display: block;
         float: left; 
        margin: 0;
        padding: 0;
        width: 50.5vw;
        height: 50.5vw;
        background: #fff;
        text-align: center;
        line-height: 300px;
        border: none;
        border-radius: none;
    }
    .img-thumbnail {
        display: inline-block;
        width: 50.5vw;
        height: auto;
        padding: 2px;
        line-height: 1.42857143;
        background-color: #fff;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border: none;
        border-radius: none;
    }
    div#slideviewart{
        width: 50vw;
        height: 50vw;
    }
    div#slideviewart ul li img.img-thumbnail {
        margin-left: 0;
    }
*/

}

/* JUSQU A 950 PX*/
@media screen and (max-width: 950px) {
    .navli_width {
        font-size: 20px;
    }
    .vignetteEvent_hide {
        display: none;
    }
    .event_title {
        display: none;
        border-top: 2px solid black;
    }
    .evenement_img {
        border-top: 20px solid #7ac943;
        border-bottom: 11px solid #7ac943;
    }    
    .slideartL_title {
        position: relative;
        margin-top: 0;
        width: 100%;
        font-size: x-large;    }
    .slideartR_title {
        display: absolute;
        margin-top: 0;
        width: 100%;
        font-size: x-large;    }
    #cogicon_click {
        font-size: 6vw;
    }
    .footertitle {
        font-size: 3.5vw;
        margin-left: 20px;
        text-align: left;
    }
    .footertext {
        font-size: 2.5vw;
        margin-left: 20px;
        text-align: left;
    }
    .viewcategorycol2_text {
        font-size: 2.5vw;
    }
    .viewcategorycaption p {
        font-size: 2.5vw;
    }
    .viewcategorycaption h4 {
        font-size: 3.5vw;
    }
    .viewcategoryprixpromo {
        font-size: 3.5vw;
    }
    .viewcategoryrow2col1_img {
        padding:40px 20px;
    }
    .viewcategory_button_size {
        font-size: x-large;
    }
    .ordertable_title {
        margin-top: 5vw;
        font-size: 2.5vw;
    }
    .ordertable_text {
        font-size: 1.5vw;
    }
    th {
        font-size: 2.5vw;
    }
    /*mentions légales*/
    .legalm_background {
        padding: 20px;
    }
    /*tête de person pour guestBook*/
    .img-responsive-tete {
        width: 63px;
    }
    .table-responsive > .table-bordered {
        border: 2px solid #000;
    }
    /* search */
    .soumenu_search{
        width: 1206%;
    }
    /* cptuser.php */
    div#rowcptuser {
        font-size: 4vw;
    }
    .item--helper-slide {
        top: 400px;
    }

}

/* JUSQU A 767 PX*/
@media screen and (max-width: 767px) {
    .navli_width {
        width: 100%;
    }
    .navlicon_width {
        width: 100%;
    }
    .dropdown-menu {
        background-clip: padding-box;
        background-color: #fff;
        display: none;
        float: left;
        font-size: 14px;
        left: 0;
        margin: 2px 0 0;
        min-width: 100%;
        padding: 0px 0;
        position: relative;
        text-align: left;
        top: 100%;
        z-index: 0;
        border-radius: 0px;
        box-shadow: none;
    }

    .TLA_bgcolor {
        position: relative;
    }

    .TLA_dropdownbox_width {
        border: 0px;
    }

    .soumenu_classics_text li, .soumenu_customs_text li, .soumenu_pieces_text li, .soumenu_boites_text li {
        border-bottom: 1px solid #000;
        display: none;
        margin: 0 0 10px;
    }

    #plusclassic_hide, #pluscustoms_hide, #pluspieces_hide, #plusboites_hide {
        display: block;
    }

    #faminus_hide, #faminus1_hide, #faminus2_hide, #faminus3_hide {
        display: hide;
    }

    .soumenu_search {
        width: 100%;
    }

    .col-md-10 {
        width: 100%;
    }

    .baseline_text {
        font-size:3.5vw;
    }

    .nav_left > img {
        width: 40vw;
    }

    .container_general {
        margin: 0 10px;
    }

    .footercol2_margin {
        margin-top: 0px;
    }

    .formlabel {
        color: #1f3a93;
        font-size: 2.5vw;
    }

    .cgv_background {
        padding: 16px;
    }

    .cgv_text {
        font-size: 15px;
    }

    .adduser_label {
        font-size: 2.5vw;
    }

    .addusercol2_padding {
        padding: 20px 50px;
    }
    /*mentions légales*/
    .legalm_background {
        padding: 30px;
    }

    .shoppingcart_quantity {
        border-radius: 18px;
        margin-left: -15px;
        padding: 0px 8px;
    }

    .commentaire_title {
        font-size: 20px;
    }

    .comment_username {
        font-size: 20px;
    }
    /* cptuser.php */
    div#rowcptuser {
        font-size: 4vw;
    }
    .span4 {
        width: 40%;
    }
    .caption h4 {
        font-size: xx-large;
    }
    .viewcategoryprixpromo {
        font-size: xx-large;
    }
    .viewcategoryprixdelete {
        font-size: x-large;
    }
    .viewcategory_button_size {
        font-size: medium;
    }
    .item--helper-slide {
        top: 300px;
    }
    .caption p {
        font-size: 3vw;
        line-height: 2.85vh;
        min-height: 2vh;
        height: 4vh;
    }    
    #usericon_click {
        font-size: 10vw;
    }
    #shoppingicon_click {
        font-size: 10vw;
    }
    i#logout{
        font-size: 10vw;
    }
    .favorite_button_size {
        font-size: large;
    }
    /* apropos */
    p.apropos_text.head_apropos {
        padding: 1.5em;
        font-size: 4vw;
    }
    .orderfrais_list > li {
        text-indent: 30px;
        font-size: 3.2vw;
    }
    .comment_text {
        padding-left:10px;
        font-weight:400;
        font-size: 3vw;
    }
    .commentaire {
        line-height: 4vh;
    }

}

/* JUSQU A 767 PX*/
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
    /*
    .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}
    */
}

/* JUSQU A 479 PX*/
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
    /* cptuser.php */
    div#rowcptuser {
        font-size: 7vw;
    }
    .span4 {
        width: 78%;
    }
    .caption p {
        font-size: 5vw;
        line-height: 2vh;
        min-height: 4vh;
        height: 4vh;
    }
    .item--helper-slide {
        right: 5px;    
        top: 250px;
    }
    .viewcategory_promo {
        font-size: 5.5vw;
    }
    .viewcategory_nouveau {
        font-size: 5.5vw;
    }
    .orderfrais_list > li {
        text-indent: 0;
        font-size: 4.5vw;
    }
    .comment_text {
        font-size: 5vw;
    }
    .commentaire {
        line-height: 5vh;
    }
    .col-xs-12.etiq_width_small.left {
        display: none;
    }
    .col-xs-6.etiq_width_small.left{
        display: none;
    }
    .footertitle {
        font-size: 5.5vw;
    }
    .footertext {
        font-size: 4vw;
    }
    .viewcategorycol2_text {
    font-size: 4vw;
    }

}

/* JUSQU A 320 PX*/
@media (max-width: 320px) {
    .caption {
        word-break: break-all;
    }
    /* cptuser.php */
    div#rowcptuser {
        font-size: 6vw;
    }
    .comment_text {
        font-size: 7vw;
    }
    .commentaire {
        line-height: 4vh;
    }
    .col2_commentaireback {
    padding: 4vh;
}


}

