html, body {
	font-family: 'Advent Pro', sans-serif;
	background-color: #ffffff;
	color: #000000;
}

.container {
	margin: 20px auto;
    padding: 0px;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #fff;
    text-decoration: none;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
    font-family: 'Advent Pro', sans-serif;
}

li {
    list-style: none;
}

/*Header*/
.baseline_text {
    font-size: 30px;
    font-style: italic;
    letter-spacing: 3px;
    color: #33161d;
    margin-top: 10px;
}

.icon_cursor {
    cursor: pointer;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.span_float {
    list-style: none;
    float: left;
    margin: 30px 10px 0px;
    
}

header {
    margin-top: 30px;
}
        
.cogsoumenu_hidden {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px dotted #999;
    box-shadow: 1px 3px 8px #ddd;
    z-index: 2;
    background-color: #fff;
}

.usersoumenu_hidden {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px dotted #999;
    box-shadow: 1px 3px 8px #ddd;
    z-index: 2;
    background-color: #fff;
}

.nav_right {
    float: right;
}

.nav_left {
    float: left;
}

#cogicon_click {
    position: relative;
}

#usericon_click {
    position: relative;
}

.span_float {
    position: relative;
}

.soumenu_text {
    margin: 10px 20px;
}

.form_iconuser {
    padding: 20px;
    width: 300px;
}

.soumenu_search {
    margin: 2px 0;
	padding: 0;
    width: 1180%;
	border: 10px solid #ff931e;
	background-color: #ff931e;;
}

.clear {
    clear: both;
}

.navbar {
    border: none;
    line-height: 70px;
    min-height: 70px;
    position: relative;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 90px;
    line-height: 90px;
    padding: 0 65px;
    background-color: #69554e;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: #69554e;
}

.navbar-toggle {
    margin-top: 20px;
    padding: 15px 20px;
    margin-right: 40px;
}

.TLA_bgcolor {
    background-color: #ea232a;
}

.TLA_dropdownbox_width {
    border: 10px solid #ea232a;
    width: 100%;
}

/*.search_dropdownbox_width {
    border: 10px solid #ea232a;
    margin: 0;
    padding: 0;
    width: 100%;
}*/

.AP_bgcolor {
    background-color: #7bc942;
}

.EVT_bgcolor {
    background-color: #3fa9f5;
}

.HM_bgcolor {
    background-color: #FF9121;
}

i {
    color: #fff;
    line-height:70px;
    width:100%;
}
.CT_bgcolor {
    background-color: #1f3a93;
}

.dropdown {
    background-color: #FF9121;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navli_width {
    float: left;
    width: 20.66%;
    border:1px dotted #ccc;
    text-align: center;
    font-size: 25px;
}

.navlicon_width {
    float: left;
    width: 8.66%;
    border:1px dotted #ccc;
    text-align: center;
    font-size: 25px;
}

.search_padding {
    padding: 22px 0px;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
    border-radius: 0px;
}

.navR_color {
	color: #FF9121;
}

.container_general {
	margin: 0 50px;
}

.colmarginL {
	padding-left: 20px;
}

.col3_back {
	background-color: #ff931e;
	color: #fff;
}

.colLtitle_fontsize {
	font-size: 30px;
	font-weight: 500;
}

.colLtext_fontsize {
	font-size: 20px;
}

.input-group-addon {
    background-color: #ff931e;
    border: 1px solid #ff931e;
}

.searchbar_margin {
	margin: 20px;
}

.checkbox_font {
	font-size: 20px;
	color: #ff931e;
}

.colR_back {
	background-color: #fff;
}

.checkbox_border {
    height: 60px;
    padding: 0 100px 0 0;
}

.checkbox_height {
	height: 50px;
}

.col-sm-offset-2 {
    border-bottom: 1px dotted #000;
    margin: 0 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ef820b;
  border-color: #ef820b;
}

/*index.php 4 categories*/
.classic_text {
    background-color: rgba(63, 169, 245, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.customs_text {
    background-color: rgba(254, 148, 30, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.pieces_text {
    background-color: rgba(123, 201, 66, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.divers_text {
    background-color: rgba(234, 35, 42, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0;
}

/*index.php soumenu de menu tous les articles*/
.soumenu_TLA_text {
	color: #ea2229;
	font-size: 40px;
	margin: 0 20px;
}

.soumenu_TLA_height {
	border-right: 1px dotted #ea2229;
	height: auto;
}

.soumenu_classics_text, .soumenu_customs_text, .soumenu_pieces_text, .soumenu_boites_text {
	font-size: 20px;
	color: #000;
}

.soumenu_classics_text li, .soumenu_customs_text li, .soumenu_pieces_text li, .soumenu_boites_text li {
	border-bottom: 1px solid #000;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0;
	cursor: pointer;
	padding: 0 20px;
}

.soumenu_classics_text li:hover, .soumenu_customs_text li:hover, .soumenu_pieces_text li:hover, .soumenu_boites_text li:hover {
	background-color: rgba(234, 35, 42, 0.6);
}

.faplus_color, .faminus_color {
	color: #ea2229;
	cursor: pointer;
}

#faminus_hide, #faminus1_hide, #faminus2_hide, #faminus3_hide {
	display: none;
}

#plusclassic_hide, #pluscustoms_hide, #pluspieces_hide, #plusboites_hide {
	display: none;
}

/*index.php commentaire*/
.commtaire_back {
	background-image: url("../img/boxBackground.jpg");
}

.col2_commentaireback {
	background-color: #fff;
	padding: 80px;
}

.col2commtaire_margin {
	margin: 50px;
}

.commentaire_title {
	font-size: 30px;
	font-weight: 600;
}

.quote_hide {
	display: block;
	margin-right: 200px;
}

.vignetteEvent_hide {
	color: #000;
    display: block;
    margin-top: -50px;
    position: absolute;
    right: 0;
    z-index: 5;
	cursor: pointer;
	overflow:inherit;
}

.vignetteEvent_hide > img {
	display: block;
}

.evenement_img > img {
	width: 100%;
}

/*index.php la derniere event*/
.event_title {
	position:absolute;
	z-index:5;
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #7bc942;
	text-transform: uppercase;
}

.slideartL_title {
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #7bc942;
	text-transform: uppercase;
	float: left;
}

.slideartR_title {
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #3fa9f5;
	text-transform: uppercase;
	float: right;
}

/*index.php slide article*/
a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}


/* Container */
/*.container-fluid {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}*/


/* Thumbnail Box */
.caption h4 {
    font-size: 1rem;
    color: #444;
}

.caption p {
    font-size: 0.75rem;
    color: #999;
}

.btn.btn-mini {
    font-size: 0.63rem;
}


/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
}

.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 35px;
}


/* ADD-ON
-------------------------------------------------- */
/*body:after{content:"less than 320px";font-size:1rem;font-weight:bold;position:fixed;bottom:0;width:100%;text-align:center;background-color:hsla(1,60%,40%,0.7);color:#fff;height:20px;padding-top:0;margin-left:0;left:0}@media only screen and (min-width:320px){body:after{content:"320 to 480px";background-color:hsla(90,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:480px){body:after{content:"480 to 768px";background-color:hsla(180,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:768px){body:after{content:"768 to 980px";background-color:hsla(270,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:980px){body:after{content:"980 to 1024px";background-color:hsla(300,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}@media only screen and (min-width:1024px){body:after{content:"1024 and up";background-color:hsla(360,60%,40%,0.7);height:20px;padding-top:0;margin-left:0}}*/

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

a, a:focus, a:active, a:hover, object, embed { outline: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }

.span3 {
	float: left;
	margin: 20px 40px;
}
