html, body {
	font-family: 'Advent Pro', sans-serif;
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	padding: 0;
}

.container {
	margin: 20px auto;
    padding: 0px;
}

a {
	text-decoration: none;
	color: #fe941e;
}

a:hover {
	color: #fff;
    text-decoration: none;
}
h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
    font-family: 'Advent Pro', sans-serif;
}

li {
    list-style: none;
}

/*Header*/
.nav_left > img {
	width: 25vw;
}

.baseline_text {
    font-size: 2vw;
    font-style: italic;
    letter-spacing: 3px;
    color: #33161d;
    margin-top: 10px;
}

.icon_cursor {
    cursor: pointer;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.span_float {
    list-style: none;
    float: left;
    margin: 30px 10px 0px;
    
}

header {
    margin-top: 30px;
}
        
.cogsoumenu_hidden {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px dotted #999;
    box-shadow: 1px 3px 8px #ddd;
    z-index: 2;
    background-color: #fff;
}

.usersoumenu_hidden {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px dotted #999;
    box-shadow: 1px 3px 8px #ddd;
    z-index: 2;
    background-color: #fff;
}

.shoppingsoumenu_hidden {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px dotted #999;
    box-shadow: 1px 3px 8px #ddd;
    z-index: 2;
    background-color: #fff;
	width: 250px;
}

.shoppingmenu_total {
	font-size: 22px;
	color: #999;
}

.shoppingmenu_button {
	background-color:#fe941e;
	border:none;
	width:249px;
	border-radius:0px;
	height:40px;
	font-size: 20px;
}

.nav_right {
    float: right;
}

.nav_left {
    float: left;
}

#cogicon_click {
    position: relative;
	font-size: 3.7vw;
}

#usericon_click {
    position: relative;
	font-size: 3.7vw;
}

#shoppingicon_click {
	font-size: 3.7vw;
}

.span_float {
    position: relative;
}

.soumenu_text {
    margin: 10px 20px;
}

.form_iconuser {
    padding: 20px;
    width: 300px;
}

.soumenu_search {
    margin: 2px 0;
	padding: 0;
    width: 1180%;
	border: 10px solid #ff931e;
	background-color: #ff931e;;
}

.clear {
    clear: both;
}

.navbar {
    border: none;
    line-height: 70px;
    min-height: 70px;
    position: relative;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 90px;
    line-height: 90px;
    padding: 0 65px;
    background-color: #69554e;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: #69554e;
}

.navbar-toggle {
    margin-top: 20px;
    padding: 15px 20px;
    margin-right: 40px;
}

.TLA_bgcolor {
    background-color: #ea232a;
}

.TLA_dropdownbox_width {
    border: 10px solid #ea232a;
    width: 100%;
}

/*.search_dropdownbox_width {
    border: 10px solid #ea232a;
    margin: 0;
    padding: 0;
    width: 100%;
}*/

.AP_bgcolor {
    background-color: #7bc942;
}

.EVT_bgcolor {
    background-color: #3fa9f5;
}

.HM_bgcolor {
    background-color: #FF9121;
}

i {
    color: #fff;
    line-height:70px;
    width:100%;
}
.CT_bgcolor {
    background-color: #1f3a93;
}

.dropdown {
    background-color: #FF9121;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.navli_width {
    float: left;
    width: 20.66%;
    border:1px dotted #ccc;
    text-align: center;
    font-size: 25px;
}

.navlicon_width {
    float: left;
    width: 8.66%;
    border:1px dotted #ccc;
    text-align: center;
    font-size: 25px;
}

.search_padding {
    padding: 22px 0px;
}

a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
    border-radius: 0px;
}

.navR_color {
	color: #FF9121;
}

.container_general {
	margin: 0 50px;
}

.colmarginL {
	padding-left: 20px;
}

.col3_back {
	background-color: #ff931e;
	color: #fff;
}

.colLtitle_fontsize {
	font-size: 30px;
	font-weight: 500;
}

.colLtext_fontsize {
	font-size: 20px;
}

.input-group-addon {
    background-color: #ff931e;
    border: 1px solid #ff931e;
}

.searchbar_margin {
	margin: 20px;
}

.checkbox_font {
	font-size: 20px;
	color: #ff931e;
}

.colR_back {
	background-color: #fff;
}

.checkbox_border {
    height: 60px;
    padding: 0 100px 0 0;
}

.checkbox_height {
	height: 50px;
}

.col-sm-offset-2 {
    border-bottom: 1px dotted #000;
    margin: 0 20px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ef820b;
  border-color: #ef820b;
}

.shoppingcart_quantity {
	background-color: #ea2229;
    border-radius: 25px;
    color: #fff;
    margin-left: -25px;
    padding: 1px 10px;
    position: absolute;
    vertical-align: top;
    z-index: 10;
}

/*footer*/
footer {
    background-color: #1f3a93;
    height: 100%;
    width: 100%;
	/*margin-top: 50px;*/
	color: #fff;
	padding: 10px;
}

.etiq_width > img {
	width: 25vw;
	margin: 10px 0px;
}

.etiq_width_small > img {
	width: 25vw;
	margin: 10px 0px;
}

.etiq_width{
	text-align: center;
}
.etiq_width_small {
	text-align: left;
}

.footerrow_margin {
	margin:0;
	padding:0;
	margin-top:0px;
}

.footertitle {
	font-size: 2.5vw;
    margin-left: 20px;
    text-align: left;
}

.footertext {
	font-size: 1.5vw;
	margin-left: 20px;
    text-align: left;
	font-family: 'Advent Pro', sans-serif;
	color: #fff;
}

.footercol2_margin {
	margin-top: 30px;
}

.footerimg_hide {
	display: block;
}

.footer_neticon {
	text-align: left;
	margin: 0;
}

.footer_largestyle {
	display: block;
}

.footer_smallstyle {
	display: none;
}

/*index.php 4 categories*/
.classic_text {
    background-color: rgba(63, 169, 245, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.classic_text_show, .customs_text_show, .pieces_text_show, .divers_text_show {
    top: 10vw;
    color: #fff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
	z-index: 0;
	display: none;
}

.customs_text {
    background-color: rgba(254, 148, 30, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.pieces_text {
    background-color: rgba(123, 201, 66, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.divers_text {
    background-color: rgba(234, 35, 42, 0.6);
    bottom: 0;
    color: #ffffff;
    font-size: 55px;
    height: 80px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    position: relative;
	padding-left: 0px;
	padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    margin-bottom: 0;
}

#categoryclassic_hover:hover {
	background-color: #3fa9f5;
	opacity: 0.5;
	transition: background-color ease-in-out .2s;
	cursor: pointer;
}

#categorycustoms_hover:hover {
	background-color: #ff931e;
	opacity: 0.4;
	transition: background-color ease-in-out .2s;
	cursor: pointer;
}

#categorypieces_hover:hover {
	background-color: #7ac943;
	opacity: 0.4;
	transition: background-color ease-in-out .2s;
	cursor: pointer;
}

#categorydivers_hover:hover {
	background-color: #ea2229;
	opacity: 0.4;
	transition: background-color ease-in-out .2s;
	cursor: pointer;
}

/*index.php soumenu de menu tous les articles*/
.soumenu_TLA_text {
	color: #ea2229;
	font-size: 40px;
	margin: 0 20px;
}

.soumenu_TLA_height {
	border-right: 1px dotted #ea2229;
	height: auto;
}

.soumenu_classics_text, .soumenu_customs_text, .soumenu_pieces_text, .soumenu_boites_text {
	font-size: 20px;
	color: #000;
}

.soumenu_classics_text li, .soumenu_customs_text li, .soumenu_pieces_text li, .soumenu_boites_text li {
	border-bottom: 1px solid #000;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0;
	cursor: pointer;
	padding: 0 20px;
}

.soumenu_classics_text li:hover, .soumenu_customs_text li:hover, .soumenu_pieces_text li:hover, .soumenu_boites_text li:hover {
	background-color: rgba(234, 35, 42, 0.6);
}
.faplus_color, .faminus_color {
	color: #ea2229;
	cursor: pointer;
}

#faminus_hide, #faminus1_hide, #faminus2_hide, #faminus3_hide {
	display: none;
}

#plusclassic_hide, #pluscustoms_hide, #pluspieces_hide, #plusboites_hide {
	display: none;
}

/*correction bug aff menu*/
a#customsmenu_scat{
    color: #fff;
}

/*index.php commentaire*/
.commtaire_back {
	background-image: url("../img/boxBackground.jpg");
}

.col2_commentaireback {
	background-color: #fff;
	padding: 80px;
}

.col2commtaire_margin {
	margin: 50px;
}

.commentaire_title {
	font-size: 30px;
	font-weight: 600;
}

.quote_hide {
	display: block;
	margin-right: 200px;
}

.vignetteEvent_hide {
	color: #000;
    display: block;
    margin-top: -50px;
    position: absolute;
    right: 0;
    z-index: 5;
	cursor: pointer;
	overflow:inherit;
}

.vignetteEvent_hide > img {
	display: block;
}

.evenement_img > img {
	width: 100%;
}

/*index.php la derniere event*/
.event_title {
	position:absolute;
	z-index:5;
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #7bc942;
	text-transform: uppercase;
}

.slideartL_title {
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #7bc942;
	text-transform: uppercase;
	float: left;
}

.slideartR_title {
	color: #fff;
	font-size: 50px;
	display: block;
	margin-top: 50px;
	padding: 8px 250px;
	background-color: #3fa9f5;
	text-transform: uppercase;
	float: right;
}

/*index.php slide article*/

img { max-width:100%; }

a {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 95%;
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

/* Thumbnail Box */
.caption h4 {
    color: #ea2229;
    font-size: 1.5vw;
    text-align: center;
	font-weight: 600;
}

.caption p {
    color: #000;
    font-size: 1.1vw;
    text-align: center;
}

.btn.btn-mini {
    font-size: 0.63rem;
}

/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
}

.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 35px;
}

/* ADD-ON
-------------------------------------------------- */
::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

a, a:focus, a:active, a:hover, object, embed { outline: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }

.span3 {
	 width: 21.9%;
	float: left;
	margin: 0 20px;
}

.thumbnails {
	margin-top: 50px;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(255, 147, 30, 1) 100%, rgba(255, 147, 30, 1) 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(255, 147, 30, 1) 100%, rgba(255, 147, 30, 1) 100%);
    background-repeat: repeat-x;
}

.slidecontent_nouveau {
	font-size: 1.1vw;
	text-align: center;
	color: #7ac943;
	font-weight: 600;
	text-transform: uppercase;
}

.slidecontent_promo {
	font-size: 1.1vw;
	text-align: center;
	color: #3fa9f5;
	font-weight: 600;
	text-transform: uppercase;
}

/*contact.php*/
.contactbanner > img {
	position:relative;
	z-index:6;
}

.contactnuage >img {
	margin-top:-7vw;
	position:relative;
	z-index:5;
}

.fa-phone, .telnumber {
	color: #1f3a93;
	font-size: 4vw;
}

.formlabel {
	color: #1f3a93;
	font-size: 2vw;
}

.form-control {
    height: 50px;
}

.btn-default {
    background-color: #1f3a93;
    border-color: #1f3a93;
    color: #fff;
    font-size: 18px;
    padding: 10px 40px;
}

.btn-default:hover {
  color: #fff;
  background-color: #1f3a93;
  border-color: #1f3a93;
  opacity: 0.8;
  transition: opacity ease-in-out .3s;
}

.contactbutton {
	display: block;
	width: 15vw;
	cursor: pointer;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: transparent;
    border: medium none;
    cursor: pointer;
}

/*cgv.php*/
.cgv_background {
	background-color: #f8f8f8;
	padding: 20px;
}

h3 {
	font-weight: 600;
}

.cgv_text {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.cgv_title {
	color: #ea2229;
	text-align: center;
	text-transform: uppercase;
}

.cgv_title:before {
	content: " 《 ";
}

.cgv_title:after {
	content: " 》 ";
}

/*classics.php*/
.classics_background {
	background-color: rgba(63, 169, 245, 0.3);
}

.viewcategorycol2_title {
	color: #3fa9f5;
}

.viewcategorycol2_text {
    font-family: 'Roboto';
	color: #555;
	font-size: 1.6vw;
}

.viewcategoryrow2col1_title {
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
}

.viewcategoryrow2col1_tirer {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding: 10px 50px;
	background-color: #3fa9f5;
	margin: 1px 0px;
}

.viewcategoryrow2col1_tirer:hover {
	background-color: #289ff4;
	cursor: pointer;
}

.viewcategory_checkboxmargin {
	font-size: 1.2vw;
    margin: 0px 40px;
}

.viewcategorycheckbox_border {
    height: 40px;
    padding: 0 100px 0 0;
}

.viewcategorycheckbox_font {
    color: #000;
    font-size: 20px;
}

h4 {
	font-weight: 600;
}

.viewcategoryrow2col1_img {
	padding:70px 20px;
}

.viewcategoryprixdelete {
	text-decoration:line-through;
}

.viewcategoryprixpromo {
	color: #3fa9f5;
	font-size: 1.5vw;
}

.viewcategory_nouveau {
	font-size: 1.1vw;
	text-align: center;
	color: #7ac943;
	font-weight: 600;
	text-transform: uppercase;
}

.viewcategory_promo {
	font-size: 1.1vw;
	text-align: center;
	color: #3fa9f5;
	font-weight: 600;
	text-transform: uppercase;
}

.viewcategorycaption h4 {
    color: #ea2229;
    font-size: 1.5vw;
    text-align: center;
	font-weight: 600;
}

.viewcategorycaption p {
    color: #000;
    font-size: 1.1vw;
    text-align: center;
}

.viewcategory_pages {
	margin: 20px;
}

.viewcategory_pages a:hover {
	color: #ff931e;
}

.viewcategory_button {
	text-align: center;
}

.viewcategory_button_size {
	background-color: #ff931e;
    border: 0 none;
    font-size: 1.5vw;
	text-transform: uppercase;
}

.viewcategorypage_button {
	background-color: #7ac943;
    border: 0 none;
    font-size: 20px;
    margin-top: 1vw;
    padding: 5px 50px;
	text-transform: uppercase;
}

.viewcategorypage_button:hover {
	background-color: #5abd15;
}

.viewcategorypage_center {
	text-align: center;
	padding: 5px;
}

/*customs.php*/
.classics_background {
	background-color: rgba(255, 147, 30, 0.3);
}

.viewcategorycol2customs_title {
    font-size: 3em;
	color: #ff931e;
}

.viewcategoryrow2col1customs_tirer {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding: 10px 50px;
	background-color: #ff931e;
	margin: 1px 0px;
}

.viewcategoryrow2col1customs_tirer a {
	color: #fff;
}

.viewcategoryrow2col1customs_tirer:hover {
	background-color: #f7860c;
	cursor: pointer;
}

.viewcategory_defaut {
	height: 30px;
}

#pagination a {
    font-size: 20px;

}

/*pieces.php*/
.pieces_background {
	background-color: rgba(122, 201, 67, 0.3);
}

.viewcategorycol2pieces_title {
	color: #7ac943;
}

.viewcategoryrow2col1pieces_tirer {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding: 10px 50px;
	background-color: #7ac943;
	margin: 1px 0px;
}

.viewcategoryrow2col1pieces_tirer:hover {
	background-color: #65bd28;
	cursor: pointer;
}

/*divers.php*/
.divers_background {
	background-color: rgba(234, 34, 41, 0.3);
}

.viewcategorycol2divers_title {
	color: #ea2229;
}

.viewcategoryrow2col1divers_tirer {
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding: 10px 50px;
	background-color: #ea2229;
	margin: 1px 0px;
}

.viewcategoryrow2col1divers_tirer:hover {
	background-color: #de0f16;
	cursor: pointer;
}

/*inscription.php*/
.fausers_color {
	color: #ccc;
}

.fausers_align {
	text-align: center;
}

.addusercol2_padding {
	padding: 20px 100px;
}

.adduserscol1_text {
	color: #999;
    font-size: 3vw;
    text-transform: uppercase;
}

.adduserscol1_text:before, .adduserscol1_text:after {
	content: " - ";
}

.adduser_label {
	font-size: 1.5vw;
}

.adduser_button {
	background-color: #ff931e;
	border: none;
}

.adduser_button:hover {
	background-color: #ee8718;
}

.addusercol1img_hide {
	display: block;
}

/*orderRecap.php*/
.breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.breadcrumb li.completed a {
    background: brown;
    background: #7ac943;
}

.breadcrumb li.completed a:after {
    border-left: 30px solid #7ac943;
}

.breadcrumb li.active a {
    background: #ffc107;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

th {
	font-size: 1.5vw;
	color: #391e20;
    text-align: center;
}

td {
    text-align: center;
    background-color: #fff;
}

.ordertable_title {
	margin-top: 5vw;
	font-size: 1.5vw;
	color: #391e20;
}

.ordertable_text {
	font-size: 1vw;
	color: #391e20;
}

.order_title {
    color: #000;
}

.order_box {
    border:1px solid #ccc;
    background-color:#eee;
    padding:20px;
}

.order_buttonscapL {
    font-size: 30px;
    font-weight: 600;
}

.order_buttonscapR {
    font-size: 30px;
    font-weight: 600;
    text-align: right;
}

.order_buttonpadding {
    padding: 10px 30px;
    border: 0px;
}

.ordercontinu_color {
    background-color: #ea232a;   
}

.ordercontinu_color:hover {
    background-color: #dc0e15;
}

.ordercommander_color {
    background-color: #fe941e;
}

.orderfrais_box_margin {
    margin: 10px 0;
}

.orderfrais_title {
    font-size: 30px;
    text-align: center;
    color: #fe941e;
    font-weight: 600;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}

.orderfrais_list > li {
    text-indent: 40px;
    font-size: 18px;
}

.orderfrais_border {
    padding:20px;
    margin-top: 50px;
    border:1px solid #ccc;
}

.orderfraislist_title {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
}

.orderfrais_price {
    color: #fe941e;
}

.orderlist_total {
	text-align: right;
	font-size: 22px;
}

/*orderlogin.php*/
.orderlogin_box {
	width: 48%;
	border:1px solid #ccc;
    background-color:#eee;
    padding:0px 10px;
	margin: 0 10px;
}


.orderlogin_box > h1 {
	text-transform: uppercase;
	color: #000;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}

.orderlogin_info {
	font-size: 18px;
	color: #999;
	font-weight: 600;
}

.orderlogin_label {
	font-size: 20px;

}

.radio-inline {
	font-size: 16px;
	color: #666;
}

.orderlogin_button1 {
	text-transform: uppercase;
}

.orderlogin_button1text {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 600;
}

.has-feedback label ~ .form-control-feedback {
    top: 42px;
}

.orderlogin_MDPoublie {
	font-size: 18px;
	color: #999;
	font-weight: 600;
	text-decoration: underline;
	text-decoration-style: dotted;
	padding: 10px 0px;
}

.orderlogin_button2text {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 600;
}

.orderlogin_button2 {
	background-color: #56b621;
	border: none;
}

.orderlogin_button2:hover {
	background-color: #3d980b;
	border: none;
}

/*orderpayment.php*/
.orderpayment_button {
	text-transform: uppercase;
}

.orderpayment_buttontext {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 600;
}

.orderpayment_text {
	padding: 10px;
	font-size:18px;
	font-weight:600;
}

.orderpaymentradio_margin {
	margin-left: 50px;
}

/*listorder.php*/
.listorder_back {
	background-image: url("../img/boxBackground.jpg");
}

.listorder_contenu {
	/*position:absolute;
	z-index:5;*/
	background-color: #fff;
	padding: 50px 30px 250px;
}

.orderMC_title {
	font-size: 30px;
}

.orderMC_text {
	font-size: 18px;
}

.ordertable_title {
	font-size: 20px;
}

.ordertable_statut {
	font-family: 'Advent Pro', sans-serif;
}

/*updateuser.php*/
.updateuser_box {
	width: 100%;
	border:1px solid #ccc;
    background-color:#eee;
    padding:0px 10px;
	margin: 0 10px;
}


.updateuser_box > h1 {
	text-transform: uppercase;
	color: #000;
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}

/*cptuser.php*/
.cptuser_textlien {
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
	color: #999;
}

.cptuser_textlien a{
	color: #ff931e;
}

.cptuser_contenu {
	background-color: #fff;
	padding: 50px 30px 340px;
}

/*viewart.php*/
.container_viewart {
	margin: 20px 150px;
}

.viewart_fontweight {
	font-weight: 600;
}

.viewart_fontref {
	font-size: 20px;
}

.viewart_fonttitle {
	color: #391e20;
}

.viewart_fontpro {
	font-size: 30px;
	color: #3fa9f5;
}

.viewart_fontsolde {
	font-size: 50px;
	color: #7ac943;
}

.viewart_fontnormal {
	font-size: 30px;
	color: #3fa9f5;
	text-decoration: line-through;
}

.viewart_fontfamily {
	font-family: 'Advent Pro', sans-serif;
}

.viewart_savoirback {
	background-image: url("../img/boxBackground.jpg");
	height: 50px;
}

.viewart_savoirtitle {
	font-size: 20px;
	font-weight: 600;
	padding-left: 10px;
	padding-top: 10px;
}

.viewart_savoirboder {
	border: 2px dotted #ddd;
}

.viewart_savoirtext {
	font-size: 20px;
	padding: 20px;
	color: #999;
	border: 2px dotted #ddd;
}

/*404.php*/

/*viewuserorder.php*/
.viewuserorder_title {
    font-size: 40px;
    font-weight: 800;
    color: #ccc;
    text-align: right;
    margin-top: 45px;
}

.col-xs-6 p {
    line-height: 10px;
}

.playmo_hide {
    display: block;
}

.table-responsive {
    border: 0px solid #ddd;
}

.table-bordered {
    border: 2px solid #000;
}

/*favorite.php*/
.favorite_price {
    font-size: 30px;
    color: #7dcd38;
    font-weight: 600;
    text-align: center;
}

.favorite_pricenormal {
    font-size: 20px;
    color: #3fa9f5;
    font-weight: 600;
    text-decoration: line-through;
}

.favorite_button_size {
	background-color: #ff931e;
    border: 0 none;
    font-size: 1vw;
	text-transform: uppercase;
}

.favorite_voirplus {
    text-align: center;
}

/*guestbook.php*/
.guestbook_button {
	text-transform: uppercase;
	font-size: 20px;
	background-color: #ff931e;
	border: none;
	padding: 10px 20px;
	border-radius: 0px;
}	
	
.guestbook_button:hover {
	background-color: #ec820f;
}