/*aPropos.php*/

.apropos_ul{
    padding-top: 1em;
    font-size: 1em;
}
.apropospicinfo{
    display: inline;
    margin-left: 1.1em;
    color: #3fa9f5;
}

.apropos_containpaie{
    text-align: center;
    margin-bottom: 3em;

}
.apropos_picsortpaie{
    text-align: center;
    color: #7ac941;
    font-size: 2em;
    padding: 0 1em;
    
}
.apropos_sortpaie{
    text-align: center;
    color: #7ac941;
    font-size: 2em;
    padding: 0 1em;
    
}
.apropos_picpaie{
    display: inline;
    margin-left: 1.1em;
    color: #3fa9f5;
}
.apropos_flech{
    display: inline;
    margin-left: 0.2em;
    color: #ff9121;
}

.apropos_txtinfo{
    display: inline;
}

.apropos_txtpaie{
    padding-left: 2em;
}

.apropos_title {
	color: #ea2229;
	text-align: center;
	text-transform: uppercase;
    letter-spacing: 0.5em;
}

.apropos_title:before {
	content: " 《 ";
}

.apropos_title:after {
	content: " 》 ";
}

.apropos_text {
    padding: 1em 2em;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

.apropos_container {
    padding: 1.5em 25em;
}


/*events.php*/
.event_etitle {
	position:absolute;
	z-index:5;
	color: #fff;
	font-size: 4vw;
	display: block;
	margin-top: 50px;
	padding: 1vh 20vw;
	background-color: #7bc942;
	text-transform: uppercase;
}

.event_poster {
    background-color: #3fa9f5;
    padding: 2vh 5vw;
}
.event_shareRS{
    background-color: #7bc942;
    padding: 20px;
    text-align: center;
}

.event_shareFB {
    margin: 0 5px;
}

.event_shareTW{
    margin: 0 5px;
    
}

/*liens navbar home*/
a.dropdown-toggle.slidetoggle.linknav{
    color: white;
}

a.linknav{
    color: white;
}
    
    /*tête de person pour guestBook*/
.img-responsive-tete {
    width: 6vw;
}
    
}
